In [2]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data Mining/df_oversampled.csv', encoding= 'unicode_escape')
data

,Unnamed: 0,id,x1,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Swarm_Behaviour
0,0,0,562.050000,-0.620000,-10.700000,-4.330000,0.000000,0.000000,0.000000,0.000000,...,-15.150000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28,0,0.0
1,1,1,175.660000,-57.090000,2.310000,-2.670000,0.000000,0.000000,0.000000,0.000000,...,-3.480000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4,0,0.0
2,2,2,200.160000,-320.070000,4.010000,-6.370000,0.000000,0.000000,0.000000,0.000000,...,-9.380000,0.000000,0.000000,0.000000,0.000000,-0.110000,-0.300000,15,1,0.0
3,3,3,316.990000,-906.840000,0.850000,9.170000,-0.170000,1.030000,0.000000,0.000000,...,10.390000,-0.260000,1.010000,0.000000,0.000000,0.000000,0.000000,16,0,0.0
4,4,4,1277.680000,908.540000,-2.020000,8.230000,-1.000000,1.000000,0.000000,0.000000,...,13.910000,-1.000000,0.000000,3.210000,15.670000,0.000000,0.000000,12,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30763,30763,30763,1072.042150,-841.413304,-10.189097,-0.359142,0.260000,-0.970000,-3.785005,-0.779506,...,3.626746,0.224649,-0.968838,-3.605386,1.564205,1.181257,2.269662,59,6,1.0
30764,30764,30764,1112.434562,-839.921080,-14.295307,-1.163190,0.209297,-0.977243,-2.920591,-0.877350,...,-0.986379,0.140000,-0.990000,-2.449891,-2.297028,-0.084271,2.654487,60,7,1.0
30765,30765,30765,16.755667,386.290299,-0.447627,9.850531,-0.057482,1.040000,0.000000,0.000000,...,8.180000,0.020000,1.040000,0.000000,0.000000,0.000000,0.000000,16,0,1.0
30766,30766,30766,18.260466,352.510744,-0.464570,10.540198,-0.057086,1.040000,0.000000,0.000000,...,7.761920,-0.015430,1.040000,0.000000,0.000000,0.000000,0.000000,16,0,1.0
30767,30767,30767,15.248162,419.091654,-0.515502,11.131004,-0.050000,1.040000,0.000000,0.000000,...,8.180000,0.020000,1.040000,0.000000,0.000000,0.000000,0.000000,16,0,1.0

In [4]:
from pandas.core.common import random_state

X = data.drop(columns = ["Swarm_Behaviour","id"])
y = data["Swarm_Behaviour"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [5]:
from sklearn.metrics._plot.confusion_matrix import confusion_matrix
nb = GaussianNB()
nb.fit(X_train,y_train)
y_pred_nb=nb.predict(X_test)
print(classification_report(y_test, y_pred_nb))
print(confusion_matrix(y_test, y_pred_nb))

              precision    recall  f1-score   support

         0.0       0.81      0.16      0.27      5073
         1.0       0.53      0.96      0.69      5081

    accuracy                           0.56     10154
   macro avg       0.67      0.56      0.48     10154
weighted avg       0.67      0.56      0.48     10154

[[ 822 4251]
 [ 197 4884]]