In [ ]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data Mining/df_slidingwindow.csv', encoding= 'unicode_escape')
data

,Unnamed: 0,id,x1,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Swarm_Behaviour
0,0,0,562.050000,-0.620000,-10.700000,-4.330000,0.000000,0.000000,0.000000,0.000000,...,-15.150000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,28.0,0.0,0.0
1,1,1,368.855000,-28.855000,-4.195000,-3.500000,0.000000,0.000000,0.000000,0.000000,...,-9.315000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,16.0,0.0,0.0
2,2,2,200.160000,-57.090000,2.310000,-4.330000,0.000000,0.000000,0.000000,0.000000,...,-9.380000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,15.0,0.0,0.0
3,3,3,258.575000,-188.580000,1.580000,-3.500000,0.000000,0.000000,0.000000,0.000000,...,-6.430000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,15.5,0.0,0.0
4,4,4,316.990000,-57.090000,0.850000,-2.670000,0.000000,0.000000,0.000000,0.000000,...,-3.480000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,15.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30763,30763,30763,1084.140028,-662.823937,-7.296511,-0.595615,0.000000,0.000000,-0.342862,-0.263477,...,1.829975,0.140486,-0.34,-0.173467,-0.171007,0.389877,0.645714,112.0,7.0,1.0
30764,30764,30764,1097.738080,-664.774544,-7.831900,-0.861126,0.000000,0.000000,-0.342862,-0.325503,...,0.835911,0.140486,-0.34,-0.224893,-0.371636,0.389877,0.688973,112.0,7.0,1.0
30765,30765,30765,1097.738080,-662.823937,-7.831900,-0.595615,0.000000,0.000000,-0.342862,-0.263477,...,2.023392,0.140486,-0.34,-0.173467,-0.203368,0.176223,0.688973,86.0,7.0,1.0
30766,30766,30766,1097.738080,-154.983826,-7.831900,2.167211,-0.028543,0.022734,-0.170105,-0.141526,...,5.694333,0.140486,-0.34,-0.086632,0.000000,0.000000,0.557132,59.5,6.5,1.0
30767,30767,30767,1097.738080,369.400521,-7.831900,5.283305,-0.053543,0.076650,0.000000,0.000000,...,7.970960,0.140486,-0.34,0.000000,0.000000,0.000000,0.210606,59.0,6.0,1.0

In [ ]:
from pandas.core.common import random_state

X = data.drop(columns = ["Swarm_Behaviour","id"])
y = data["Swarm_Behaviour"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.metrics._plot.confusion_matrix import confusion_matrix
nb = GaussianNB()
nb.fit(X_train,y_train)
y_pred_nb=nb.predict(X_test)
print(classification_report(y_test, y_pred_nb))
print(confusion_matrix(y_test, y_pred_nb))

              precision    recall  f1-score   support

         0.0       0.63      0.99      0.77      5073
         1.0       0.98      0.43      0.59      5081

    accuracy                           0.71     10154
   macro avg       0.81      0.71      0.68     10154
weighted avg       0.81      0.71      0.68     10154

[[5035   38]
 [2920 2161]]